:root{
    --easytime-daytime:#caf0f8!important;
    --easytime-nighttime: #070b34!important;

    --easytime-menu-background-dark:linear-gradient(180deg, #333, #323232)!important;
    --easytime-menu-background-light:linear-gradient(180deg, #fff, #f2f2f2)!important;
    --easytime-menu-text:#f3f3f3!important;

    --easytime-morning:#CAF0F8!important;
    --easytime-noon:#EDFAFD!important;
    --easytime-afternoon:#7577FA!important;
    --easytime-night:#040676!important;
}
html, body{
    user-select: none;
    background-color:transparent!important;
}

html {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
    scrollbar-dark-shadow-color: #646464;
  }

  ::-webkit-scrollbar { width: 8px; height: 3px;}
  ::-webkit-scrollbar-button {  background-color: #666; }
  ::-webkit-scrollbar-track {  background-color: #646464;}
  ::-webkit-scrollbar-track-piece { background-color: #000;}
  ::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
  ::-webkit-scrollbar-corner { background-color: #646464;}}
  ::-webkit-resizer { background-color: #666;}

#easytime-card{
    width:50%;
    position:absolute;
    left:51%;
    top:50%;
    transform:translate(-51%, -51%);
    display:none;
    border:1px solid #333;
    max-height: 82%;
}
#easytime-card-body{
    position: relative;
    height:10rem;
    overflow: hidden;
    background: #343A3F;
}

#easytime-card-body img{
    border-radius: 65%;
    margin-left: 10%;
    max-width: 35%;
}

#easytime-menu{
    background-image: var(--easytime-menu-background-dark);
    color:var(--easytime-menu-text);
    max-height: 65vh;
    overflow: auto;
}
.easytime-weather-icon{
    height:1.5rem;
    fill:#fff;
}
.easytime-morning{
    background-color:var(--easytime-morning);
}
.easytime-noon{
    background-color: var(--easytime-noon);
}
.easytime-afternoon{
    background-color: var(--easytime-afternoon);
}
.easytime-night{
    background-color:var(--easytime-night);
}
#easytime-stars{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    display:none;
}
.table {
    border-right: 2px solid #1FFF88;
    border-left: 2px solid #1FFF88;
    box-shadow: 12px 0 15px -4px rgba(31, 255, 136, 0.25), -12px 0 8px -4px rgba(31, 255, 136, 0.25);
}

.table-responsive {
    margin: 30px 0;
}


.show-entries select.form-control {
	width: 60px;
	margin: 0 5px;
}

table.table tr th, table.table tr td {
	border-color: #e9e9e9;
	padding: 12px 15px;
	vertical-align: middle;
}
table.table tr th:first-child {
	width: 60px;
}
table.table tr th:last-child {
	width: 80px;
}
table.table-striped tbody tr:nth-of-type(odd) {
	background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
	background: #707070;
}
table.table th i {
	font-size: 13px;
	margin: 0 5px;
	cursor: pointer;
}
table.table td a {
	font-weight: bold;
	color: #d4d5d8;
	display: inline-block;
	text-decoration: none;
}
table.table td a:hover {
	color: #2196F3;
}

table.table td a.view {
    width: 30px;
    height: 30px;
    color: #2196F3;
    border: 2px solid;
    border-radius: 30px;
    text-align: center;
}

table.table td a.blocked {
    width: 30px;
    height: 30px;
    color: #f32121;
    border: 2px solid;
    border-radius: 30px;
    text-align: center;
}

table.table td#price {
    color:#12af4e;
}

table.table .avatar {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
    max-width: 50px;
}

.restoname h1 {
    font-size: 5vh;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    color: #e9e9e9;
    margin: auto;
    white-space: nowrap;
    padding-bottom: 0px;
}

.restoname h1:before {
      background-color: #c50000;
      content: '';
      display: block;
      height: 3px;
      width: 75px;
      margin-bottom: 5px;
}

.restoname h1:after {
      background-color: #c50000;
      content: '';
      display: block;
    position:absolute; right:0; bottom:0;
      height: 3px;
      width: 75px;
      margin-bottom: 0.25em;
}

#job{
    font-style: normal;
    font-weight: 110;
    left: 34%;
}

.end{
    position: absolute;
    display: none;
    width: 100%;
    height: 347px;
    left: 0px;
    top: 50%;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    background: linear-gradient(90deg, #242423 5.73%, rgba(63, 67, 70, 0.42) 42.71%);
}

.end span{
    position: relative;
    width: 477px;
    height: 98px;
    left: 34%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 98px;
    letter-spacing: 0.05em;
    margin: 0.8rem;
    color: #FFFFFF;
    top: 10vh;
}

.end img{
    position: absolute;
    width: 768px;
    height: 235px;
    left: 538px;
    top: 56px;
    
}

.expr{
    box-sizing: border-box;
    position: relative;
    width: 298px;
    height: 131px;
    left: 31%;
    top: 75px;
    background: rgba(18, 18, 17, 0.96);
    border: 2px solid #FFFFFF;
    border-radius: 7px;
}

.expr img{
    position: absolute;
    width: 77px;
    height: 76px;
    left: 19px;
    top: 25px;
}

.expr span{
    position: relative;
    width: 477px;
    height: 98px;
    left: 115px;
    top: 13px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1000;
    font-size: 62px;
    line-height: 98px;
    margin: 0.3rem;
    color: #FFFFFF;
}

.expr2{
    box-sizing: border-box;
    position: absolute;
    width: 298px;
    height: 131px;
    left: 50%;
    top: 75px;
    background: rgba(18, 18, 17, 0.96);
    border: 2px solid #FFFFFF;
    border-radius: 7px;
}

.expr2 img{
    position: absolute;
    width: 77px;
    height: 76px;
    left: 19px;
    top: 25px;
}

.expr2 span{
    position: relative;
    width: 477px;
    height: 98px;
    left: 96px;
    top: 13px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1000;
    font-size: 47px;
    line-height: 98px;
    margin: 0.3rem;
    color: #FFFFFF;
}